{
  "extends": "eslint-config-airbnb",
  "rules": {
    "comma-dangle": 0,
    "jsx-quotes": 0,
    "react/jsx-quotes": 0,
    "react/sort-comp": 0,
    "func-names": 0,
    "quotes": 0,
    "id-length": 0
  }
}
