const fetchResource = (get) => (WrappedComponent) =>
  class extends React.Component {
    state = { resource: null };
    componentDidMount() {
      get(this.props)
        .then(resource => this.setState({ resource }));
    }
    render() {
      const { resource } = this.state;
      return <WrappedComponent {...this.props} {...resource} />;
    }
  }

const fetchPost = fetchResource(props => fetch(`/posts/${props.id}`));
const PostContainer = fetchPost(Post);